.card,
.areaDestaque {
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 187, 255, 0.053);
    border-radius: 10px;
    transition: background-color .4s;
    transition: border-radius .4s;
}

.card:hover {
    cursor: pointer;
    background-color: rgba(0, 187, 255, 0.137);
    border-radius: 20px;
}

.cardHeader,
.headerEmpresa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardHeader {
    margin-bottom: 8px;
}

.cardHeader .titulo {
    font-size: 20px;
}

.headerEmpresa h2,
.subtitulo {
    font-size: 18px;
    color: #39a87f;
    margin-bottom: 10px;
}

.status {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
}

.status.inativo {
    background-color: red !important;
}

.descricao {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descricao .negrito {
    font-weight: bold;
    color: #4b7096;
}

.areaDestaque {
    margin: 10px 0;
    background-color: rgba(0, 187, 255, 0.137);
}